document-processing/incidents/INC-001/template-working.yaml
AWSTemplateFormatVersion: '2010-09-09'
Transform: AWS::Serverless-2016-10-31
Description: Document processing application - API, S3, DynamoDB, SQS, Step Functions, SNS, CloudWatch

Globals:
  Function:
    Runtime: python3.13
    Timeout: 15
    MemorySize: 128
    Architectures:
      - x86_64
    LoggingConfig:
      LogFormat: JSON

Parameters:
  NotificationEmail:
    Type: String
    Description: Email address for success/failure notifications
    Default: creamcorn2@gmail.com

Resources:
  DocumentsApi:
    Type: AWS::Serverless::Api
    Properties:
      StageName: Prod
      EndpointConfiguration: REGIONAL

  JobsTable:
    Type: AWS::DynamoDB::Table
    Properties:
      BillingMode: PAY_PER_REQUEST
      AttributeDefinitions:
        - AttributeName: job_id
          AttributeType: S
      KeySchema:
        - AttributeName: job_id
          KeyType: HASH

  UploadBucket:
    Type: AWS::S3::Bucket
    DependsOn:
      - UploadQueuePolicy
    Properties:
      BucketName: !Sub ${AWS::StackName}-${AWS::AccountId}-${AWS::Region}-uploads
      NotificationConfiguration:
        QueueConfigurations:
          - Event: s3:ObjectCreated:*
            Queue: !GetAtt UploadQueue.Arn
      PublicAccessBlockConfiguration:
        BlockPublicAcls: true
        BlockPublicPolicy: true
        IgnorePublicAcls: true
        RestrictPublicBuckets: true

  UploadQueue:
    Type: AWS::SQS::Queue
    Properties:
      VisibilityTimeout: 60
      RedrivePolicy:
        deadLetterTargetArn: !GetAtt UploadDLQ.Arn
        maxReceiveCount: 3

  UploadDLQ:
    Type: AWS::SQS::Queue
    Properties:
      MessageRetentionPeriod: 1209600

  UploadQueuePolicy:
    Type: AWS::SQS::QueuePolicy
    Properties:
      Queues:
        - !Ref UploadQueue
      PolicyDocument:
        Version: '2012-10-17'
        Statement:
          - Sid: AllowS3ToSendMessages
            Effect: Allow
            Principal:
              Service: s3.amazonaws.com
            Action: sqs:SendMessage
            Resource: !GetAtt UploadQueue.Arn
            Condition:
              ArnLike:
                aws:SourceArn: !Sub arn:aws:s3:::${AWS::StackName}-${AWS::AccountId}-${AWS::Region}-uploads

  NotificationTopic:
    Type: AWS::SNS::Topic

  NotificationSubscription:
    Type: AWS::SNS::Subscription
    Properties:
      Protocol: email
      Endpoint: !Ref NotificationEmail
      TopicArn: !Ref NotificationTopic

  IngestFunction:
    Type: AWS::Serverless::Function
    Properties:
      CodeUri: src/
      Handler: ingest.handler
      Environment:
        Variables:
          JOBS_TABLE: !Ref JobsTable
          UPLOAD_BUCKET: !Ref UploadBucket
          URL_EXPIRY_SECONDS: '900'
      Policies:
        - DynamoDBCrudPolicy:
            TableName: !Ref JobsTable
        - S3WritePolicy:
            BucketName: !Ref UploadBucket
      Events:
        CreateUploadUrl:
          Type: Api
          Properties:
            RestApiId: !Ref DocumentsApi
            Path: /jobs
            Method: post

  StarterFunction:
    Type: AWS::Serverless::Function
    Properties:
      CodeUri: src/
      Handler: starter.handler
      Timeout: 30
      Environment:
        Variables:
          STATE_MACHINE_ARN: !Ref DocumentProcessingStateMachine
      Policies:
        - SQSPollerPolicy:
            QueueName: !GetAtt UploadQueue.QueueName
        - Statement:
            Effect: Allow
            Action:
              - states:StartExecution
            Resource: !Ref DocumentProcessingStateMachine
      Events:
        UploadQueueEvent:
          Type: SQS
          Properties:
            Queue: !GetAtt UploadQueue.Arn
            BatchSize: 1

  ValidateUploadFunction:
    Type: AWS::Serverless::Function
    Properties:
      CodeUri: src/
      Handler: validate_upload.handler
      Environment:
        Variables:
          JOBS_TABLE: !Ref JobsTable
      Policies:
        - DynamoDBCrudPolicy:
            TableName: !Ref JobsTable
        - S3ReadPolicy:
            BucketName: !Ref UploadBucket

  ExtractInformationFunction:
    Type: AWS::Serverless::Function
    Properties:
      CodeUri: src/
      Handler: extract_information.handler
      Environment:
        Variables:
          JOBS_TABLE: !Ref JobsTable
      Policies:
        - DynamoDBCrudPolicy:
            TableName: !Ref JobsTable
        - S3ReadPolicy:
            BucketName: !Ref UploadBucket

  MarkCompleteFunction:
    Type: AWS::Serverless::Function
    Properties:
      CodeUri: src/
      Handler: mark_complete.handler
      Environment:
        Variables:
          JOBS_TABLE: !Ref JobsTable
          NOTIFICATION_TOPIC_ARN: !Ref NotificationTopic
      Policies:
        - DynamoDBCrudPolicy:
            TableName: !Ref JobsTable
        - SNSPublishMessagePolicy:
            TopicName: !GetAtt NotificationTopic.TopicName

  MarkFailedFunction:
    Type: AWS::Serverless::Function
    Properties:
      CodeUri: src/
      Handler: mark_failed.handler
      Environment:
        Variables:
          JOBS_TABLE: !Ref JobsTable
          NOTIFICATION_TOPIC_ARN: !Ref NotificationTopic
      Policies:
        - DynamoDBCrudPolicy:
            TableName: !Ref JobsTable
        - SNSPublishMessagePolicy:
            TopicName: !GetAtt NotificationTopic.TopicName

  DocumentProcessingStateMachine:
    Type: AWS::Serverless::StateMachine
    Properties:
      Type: STANDARD
      Policies:
        - LambdaInvokePolicy:
            FunctionName: !Ref ValidateUploadFunction
        - LambdaInvokePolicy:
            FunctionName: !Ref ExtractInformationFunction
        - LambdaInvokePolicy:
            FunctionName: !Ref MarkCompleteFunction
        - LambdaInvokePolicy:
            FunctionName: !Ref MarkFailedFunction
      Definition:
        Comment: Document processing standard workflow
        StartAt: ValidateUpload
        States:
          ValidateUpload:
            Type: Task
            Resource: !GetAtt ValidateUploadFunction.Arn
            Retry:
              - ErrorEquals:
                  - Lambda.ServiceException
                  - Lambda.AWSLambdaException
                  - Lambda.SdkClientException
                IntervalSeconds: 2
                MaxAttempts: 2
                BackoffRate: 2
            Catch:
              - ErrorEquals:
                  - States.ALL
                ResultPath: $.error
                Next: MarkFailed
            Next: ExtractInformation
          ExtractInformation:
            Type: Task
            Resource: !GetAtt ExtractInformationFunction.Arn
            Retry:
              - ErrorEquals:
                  - Lambda.ServiceException
                  - Lambda.AWSLambdaException
                  - Lambda.SdkClientException
                IntervalSeconds: 2
                MaxAttempts: 2
                BackoffRate: 2
            Catch:
              - ErrorEquals:
                  - States.ALL
                ResultPath: $.error
                Next: MarkFailed
            Next: MarkComplete
          MarkComplete:
            Type: Task
            Resource: !GetAtt MarkCompleteFunction.Arn
            End: true
          MarkFailed:
            Type: Task
            Resource: !GetAtt MarkFailedFunction.Arn
            End: true

  UploadDLQAlarm:
    Type: AWS::CloudWatch::Alarm
    Properties:
      AlarmDescription: Alarm when messages appear in the document upload DLQ
      Namespace: AWS/SQS
      MetricName: ApproximateNumberOfMessagesVisible
      Dimensions:
        - Name: QueueName
          Value: !GetAtt UploadDLQ.QueueName
      Statistic: Sum
      Period: 60
      EvaluationPeriods: 1
      Threshold: 1
      ComparisonOperator: GreaterThanOrEqualToThreshold
      TreatMissingData: notBreaching
      AlarmActions:
        - !Ref NotificationTopic

Outputs:
  ApiUrl:
    Description: API Gateway endpoint for creating document upload jobs
    Value: !Sub https://${DocumentsApi}.execute-api.${AWS::Region}.amazonaws.com/Prod/jobs
  UploadBucketName:
    Description: S3 bucket for document uploads
    Value: !Ref UploadBucket
  JobsTableName:
    Description: DynamoDB jobs table
    Value: !Ref JobsTable
  UploadQueueUrl:
    Description: SQS queue that receives S3 upload notifications
    Value: !Ref UploadQueue
  UploadDLQUrl:
    Description: Dead-letter queue for failed upload-start messages
    Value: !Ref UploadDLQ
  StateMachineArn:
    Description: Step Functions state machine ARN
    Value: !Ref DocumentProcessingStateMachine
  NotificationTopicArn:
    Description: SNS topic for app notifications and alarms
    Value: !Ref NotificationTopic
